*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 600px;
}

.tabs {
  &__nav {
    display: flex;
    margin-bottom: 15px;

    &-item {
      padding: 5px 10px;
      margin-right: 5px;
      border-radius: 4px;
      background-color: rgb(210, 255, 142);

      &:last-child {
        margin-right: 0;
      }

      &--active {
        border: solid 1px black;
      }
    }
  }

  &__items {}

  &__item {
    display: none;
    padding: 5px;
    border: solid 1px black;

    &--active {
      display: block;
    }
  }
}